# skip venv
/venv

# skip db_interactions file
/database_functionality/db_interactions_temp.py
/database_functionality/scratch_test.py

#skip pycache
__pycache__


**/.DS_Store

*csv
*.db
database_functionality/patient_database.db
database_functionality/purger.py
database_functionality/testdb.py



coursework4.yaml
